USE [master]
GO
/****** Object:  Database [pruebaFinaktiva]    Script Date: 27/02/2022 14:10:03 ******/
CREATE DATABASE [pruebaFinaktiva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pruebaFinaktiva', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pruebaFinaktiva.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pruebaFinaktiva_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\pruebaFinaktiva_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pruebaFinaktiva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pruebaFinaktiva]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/02/2022 14:10:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[rol] [varchar](50) NOT NULL,
	[token] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
